{% extends 'parent/base.html' %}
{% load static %}
{% block title %}سبد خرید{% endblock %}
{% block content %}

    {% for item in cart %}

        <a href="{% url 'shop:product-detail' item.product.id item.product.slug %}">
            <h4>{{ item.product.name }}</h4>
            <img src="{{ item.product.images.first.file.url }}">
        </a>

        <span>تعداد: {{ item.quantity }}</span>
        <span>قیمت واحد: {{ item.price }}</span>
        <span>مجموع قیمت: {{ item.total }}</span>

        <span class="quantity-add">+</span>
        <span class="quantity-decrease">-</span>
        <span class="quantity-remove">حذف</span>

    {% endfor %}

    <div>
        <p>قیمت کل: {{ cart.get_total_price }} تومان</p>
        <p>هزینه ارسال: {{ cart.get_post_price }} تومان</p>
        <p>هزینه نهایی: {{ cart.get_final_price }} تومان</p>
    </div>

    <div>
        <div class="continue-btn"><a href="#">ادامه خرید</a></div>
        <div class="back-btn"><a href="{% url 'shop:product-list' %}">بازگشت به لیست محصولات</a></div>
    </div>

{% endblock %}