{% extends 'parent/base.html' %}
{% load static %}
{% block title %} {{ product.name }} {% endblock %}

{% block content %}

<h2 class="product-details-title">جزییات محصول</h2>

    <div class="product-details-card">
        <div class="product-info-and-images">
            <div class="product-info">
                <h4>{{ product.name }}</h4>
                <small class="product-meta">دسته بندی: {{ product.category }}</small>
                <small class="product-meta">موجودی: {{ product.inventory }}</small>
                <div class="product-prices">
                    <span class="old-price">قیمت: {{ product.price }}</span>
                    <span class="new-price">قیمت با تخفیف: {{ product.new_price }}</span>
                </div>

                {% for f in product.features.all %}
                    <p class="product-feature">{{ f.name }}: {{ f.value }}</p>
                {% endfor %}
            </div>

            <div class="product-images">
                {% for img in product.images.all %}
                    <img src="{{ img.file.url }}" alt="{{ product.name }}">
                {% endfor %}
            </div>
        </div>

        <button id="add-cart" type="button" style="padding: 8px 0;">افزودن به سبد خرید</button>

        <div class="product-description">
            <h4>توضیحات محصول</h4>
            <p>{{ product.description }}</p>
        </div>
    </div>

{% endblock %}

{% block script %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>

        $(document).ready(function (){
            $('#add-cart').click(function(){
                var button = $(this);

                $.ajax({
                    type: 'POST',
                    url: "{% url 'cart:add-to-cart' product.id %}",
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    success: function (data){
                        $('#item_count').text(data.item_count);
                        $('#total_price').text(data.total_price + ' تومان ');
                    }
                });
            });
        });

    </script>

{% endblock %}